# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml

# Migrations
migrations/
*/migrations/

# Others
*.sqlite3
*.db